body {
    background-color: #FFFFFF;
    padding: 0 10px 0 10px;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    /*float: right;*/
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 15px 20px 15px;
    /*align-items: center;*/
}

.header-logo img {
    float: right;
    width: 84px;
    height: 84px;
    margin-right: auto;
}

.header-logo {
    float: left;
    margin-right: auto;
}

.header-link {
    float: right;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0 100px 0 0;
}

.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 16px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero-cta {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero-cta p {
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*.topnav a.logo {*/
/*    float: left;*/
/*}*/


/*.topnav a {*/
/*    color: white;*/
/*    float: right;*/
/*    padding: 17px 17px;*/
/*}*/

/*.topnav span {*/
/*    padding-top: 100px;*/
/*    !*display: inline-block;*!*/
/*    !*border: 1px solid #666666;*!*/
/*    width: 40%;*/
/*}*/

.top-section {
    /*padding-top: 10px;*/
    /*flex: 1;*/
    display: inline-block;
    background-color: #1F2937;
    height: 20%;
}

.img-placeholder {
    display: inline-block;
    height: 20%;
    background-color: darkgray;
}

h1 {
    /*padding-top: 150px;*/
    color: #F9FAF8;
    font: 700 48px/50px "Copper Pot", serif;
}

p {
    font: 18px/20px "Hero", serif;
    color: #E5E7EB;
}


.hero button {
    display: block;
    color: white;
    border-radius: 2px;
    border: solid #3882F6;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    width: 110px;
    background: #3882F6 none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.hero-image img {
    width: 250px;
    height: 250px;
}

.content {
    align-items: center;
}

.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-info img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}

.quote p {
    font-size: 20px;
    color: #1F2937;
    text-align: end;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: right;
}

.sign-up {
    background-color: #3882F6 ;
    margin: 50px 100px;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    /*border-color: none;*/
}

.sign-item {
    flex: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 30px 0 0 50px;
}

.signs-button button {
    display: block;
    background-color: #3882F6;
    color: white;
    border-radius: 2px;
    border: solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    width: 110px;
    /*background: none;*/
    padding: 10px;
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.footer p {
    font-size: 12px;
}

.flex-gap {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 100px;
}